.signincontainer{
    display:block;
    border:1px solid grey;
    min-height: 30vh;
    justify-content: center;
    align-content: center;
    padding:50px;
}
.mainsignin{
    display: flex;
    justify-content: center;
    min-height: 30vh;
    align-items: center;
    padding:100px;
}

.signinsingle{
    padding:15px;
    text-align: center;
}